.theos/build_session
.theos/fakeroot
.theos/last_package
.theos/_/DEBIAN/control
.theos/_/Library/MobileSubstrate/DynamicLibraries/CarLift.dylib
.theos/_/Library/MobileSubstrate/DynamicLibraries/CarLift.plist
.theos/_/Library/PreferenceBundles/CarLiftPrefs.bundle/CarLiftPrefs
.theos/_/Library/PreferenceBundles/CarLiftPrefs.bundle/header.png
.theos/_/Library/PreferenceBundles/CarLiftPrefs.bundle/icon@2x.png
.theos/_/Library/PreferenceBundles/CarLiftPrefs.bundle/Info.plist
.theos/_/Library/PreferenceBundles/CarLiftPrefs.bundle/Root.plist
.theos/_/Library/PreferenceLoader/Preferences/TheftSecurePrefs.plist
.theos/obj/.stamp
.theos/obj/CarLift.dylib
.theos/obj/arm64/CarLift.dylib
.theos/obj/arm64/TSPRootListController.m.4a9c405f.o
.theos/obj/arm64/TSPRootListController.m.4a9c405f.Td
.theos/obj/arm64/TSPSubPrefsListController.m.4a9c405f.o
.theos/obj/arm64/TSPSubPrefsListController.m.4a9c405f.Td
.theos/obj/arm64/Tweak.x.2e82c9a0.o
.theos/obj/arm64/Tweak.x.2e82c9a0.Td
.theos/obj/arm64/CarLift.dylib.dSYM/Contents/Info.plist
.theos/obj/arm64/CarLift.dylib.dSYM/Contents/Resources/DWARF/CarLift.dylib
.theos/obj/arm64/CarLiftPrefs.bundle/CarLiftPrefs
.theos/obj/arm64/CarLiftPrefs.bundle/CarLiftPrefs.dSYM/Contents/Info.plist
.theos/obj/arm64/CarLiftPrefs.bundle/CarLiftPrefs.dSYM/Contents/Resources/DWARF/CarLiftPrefs
.theos/obj/arm64e/CarLift.dylib
.theos/obj/arm64e/TSPRootListController.m.30dc3cea.o
.theos/obj/arm64e/TSPRootListController.m.30dc3cea.Td
.theos/obj/arm64e/TSPSubPrefsListController.m.30dc3cea.o
.theos/obj/arm64e/TSPSubPrefsListController.m.30dc3cea.Td
.theos/obj/arm64e/Tweak.x.61b30220.o
.theos/obj/arm64e/Tweak.x.61b30220.Td
.theos/obj/arm64e/CarLift.dylib.dSYM/Contents/Info.plist
.theos/obj/arm64e/CarLift.dylib.dSYM/Contents/Resources/DWARF/CarLift.dylib
.theos/obj/arm64e/CarLiftPrefs.bundle/CarLiftPrefs
.theos/obj/arm64e/CarLiftPrefs.bundle/CarLiftPrefs.dSYM/Contents/Info.plist
.theos/obj/arm64e/CarLiftPrefs.bundle/CarLiftPrefs.dSYM/Contents/Resources/DWARF/CarLiftPrefs
.theos/obj/CarLiftPrefs.bundle/CarLiftPrefs
.theos/obj/CarLiftPrefs.bundle/header.png
.theos/obj/CarLiftPrefs.bundle/icon@2x.png
.theos/obj/CarLiftPrefs.bundle/Info.plist
.theos/obj/CarLiftPrefs.bundle/Root.plist
.theos/obj/debug/.stamp
.theos/obj/debug/CarLift.dylib
.theos/obj/debug/arm64/CarLift.dylib
.theos/obj/debug/arm64/TSPRootListController.m.6e77bcce.o
.theos/obj/debug/arm64/TSPRootListController.m.6e77bcce.Td
.theos/obj/debug/arm64/TSPSubPrefsListController.m.6e77bcce.o
.theos/obj/debug/arm64/TSPSubPrefsListController.m.6e77bcce.Td
.theos/obj/debug/arm64/Tweak.x.b1555871.o
.theos/obj/debug/arm64/Tweak.x.b1555871.Td
.theos/obj/debug/arm64/Tweak.x.m
.theos/obj/debug/arm64/CarLift.dylib.dSYM/Contents/Info.plist
.theos/obj/debug/arm64/CarLift.dylib.dSYM/Contents/Resources/DWARF/CarLift.dylib
.theos/obj/debug/arm64/CarLiftPrefs.bundle/CarLiftPrefs
.theos/obj/debug/arm64/CarLiftPrefs.bundle/CarLiftPrefs.dSYM/Contents/Info.plist
.theos/obj/debug/arm64/CarLiftPrefs.bundle/CarLiftPrefs.dSYM/Contents/Resources/DWARF/CarLiftPrefs
.theos/obj/debug/arm64e/CarLift.dylib
.theos/obj/debug/arm64e/TSPRootListController.m.b1953e55.o
.theos/obj/debug/arm64e/TSPRootListController.m.b1953e55.Td
.theos/obj/debug/arm64e/TSPSubPrefsListController.m.b1953e55.o
.theos/obj/debug/arm64e/TSPSubPrefsListController.m.b1953e55.Td
.theos/obj/debug/arm64e/Tweak.x.cfb6d3a8.o
.theos/obj/debug/arm64e/Tweak.x.cfb6d3a8.Td
.theos/obj/debug/arm64e/Tweak.x.m
.theos/obj/debug/arm64e/CarLift.dylib.dSYM/Contents/Info.plist
.theos/obj/debug/arm64e/CarLift.dylib.dSYM/Contents/Resources/DWARF/CarLift.dylib
.theos/obj/debug/arm64e/CarLiftPrefs.bundle/CarLiftPrefs
.theos/obj/debug/arm64e/CarLiftPrefs.bundle/CarLiftPrefs.dSYM/Contents/Info.plist
.theos/obj/debug/arm64e/CarLiftPrefs.bundle/CarLiftPrefs.dSYM/Contents/Resources/DWARF/CarLiftPrefs
.theos/obj/debug/CarLiftPrefs.bundle/CarLiftPrefs
.theos/obj/debug/CarLiftPrefs.bundle/GeneralSub.plist
.theos/obj/debug/CarLiftPrefs.bundle/header.png
.theos/obj/debug/CarLiftPrefs.bundle/icon@2x.png
.theos/obj/debug/CarLiftPrefs.bundle/Info.plist
.theos/obj/debug/CarLiftPrefs.bundle/Root.plist
.theos/packages/com.itzhouze.carlift-0.0.1
.theos/packages/com.itzhouze.carlift-1.0.0
.theos/obj/arm64/Tweak.x.m
.theos/obj/arm64e/Tweak.x.m
.theos/_/Library/PreferenceBundles/CarLiftPrefs.bundle/GeneralSub.plist
.theos/_/Library/Activator/Listeners/com.itzhouze.carlift.activate/icon-small.png
.theos/_/Library/Activator/Listeners/com.itzhouze.carlift.activate/icon-small@2x.png
.theos/_/Library/Activator/Listeners/com.itzhouze.carlift.activate/Info.plist
.theos/_/Library/Activator/Listeners/com.itzhouze.carlift.deactivate/icon-small.png
.theos/_/Library/Activator/Listeners/com.itzhouze.carlift.deactivate/icon-small@2x.png
.theos/_/Library/Activator/Listeners/com.itzhouze.carlift.deactivate/Info.plist
.theos/_/Library/PreferenceLoader/Preferences/CarLiftPrefs.plist
