Package: com.itzhouze.carlift
Name: CarLift
Depends: mobilesubstrate, libactivator
Version: 1.0.1
Architecture: iphoneos-arm
Description: Your screen turns on with every movement or bumb in your cars cell phone holder? Not anymore! Use the new Activator actions to temporarily disable the raise to wake feature. For example, activate it when you're connected to your cars bluetooth. Use the 'Deactivate' activator action to reset the raise to wake settings to default. For example, if you're no longer connected to your cars bluetooth.
Maintainer: itzhouze
Author: itzhouze
Section: Tweaks